SITE_URL=https://mladipirati.si
ALLOW_INDEXING=false
APPLICATIONS_RECEIVER_MEMBERSHIP_ENDPOINT=https://prijave.mladipirati.si/api/mladi-pirati-membership-applications
PUBLIC_TURNSTILE_SITE_KEY=0x4AAAAAADAzJS8tFuSfcvZd
