SITE_URL=https://mladipirati.si
ALLOW_INDEXING=true
APPLICATIONS_RECEIVER_MEMBERSHIP_ENDPOINT=https://prijave.mladipirati.si/api/mladi-pirati-membership-applications
PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_key
QUARTERMASTER_API=https://quartermaster.mladipirati.si